BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 300

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
SpacesInAngles: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

SortIncludes: false
IncludeBlocks: Preserve

NamespaceIndentation: All
FixNamespaceComments: true

EmptyLineBeforeAccessModifier: LogicalBlock
AccessModifierOffset: -2

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false

AllowShortLambdasOnASingleLine: Empty

PenaltyBreakAssignment: 10
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
